In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import datetime as dt
import plotly.plotly as py
from plotly.graph_objs import Bar, Scatter, Marker, Layout

In [2]:
disk_engine = create_engine('sqlite:///fruits.db')

In [31]:
df = pd.read_sql_query('SELECT fruit,farmer,state FROM farmer ' 
                       'WHERE farmer="Frank"', disk_engine)
df

     fruit farmer  state
0  Carrots  Frank  Maine
1  Berries  Frank  Maine

In [37]:
df2 = pd.read_sql_query('SELECT * from farmer', disk_engine)
df2

     fruit farmer       state
0   Apples    Bob     Florida
1  Bananas    Joe  California
2  Oranges    Bob       Texas
3  Carrots  Frank       Maine
4  Berries  Frank       Maine
5   Grapes  Kelly      Kansas

In [33]:
df_distinct = pd.read_sql_query('SELECT DISTINCT farmer from farmer', disk_engine)
df_distinct

  farmer
0    Bob
1    Joe
2  Frank
3  Kelly